<h2>Invoices</h2>

<table class="table mt-5">
  <thead>
  <tr>
    <th scope="col">Plant name</th>
    <th scope="col">Payment date</th>
    <th scope="col">Total price</th>
    <th scope="col">Status</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let invoice of invoices">
    <td>{{invoice?.plantName}}</td>
    <td>{{invoice?.paymentDate}}</td>
    <td>{{invoice?.totalPrice}}</td>
    <td>{{invoice?.status}}</td>
    <td>
      <span *ngFor='let link of invoice.links' style="margin-left: 5px;">
          <button *ngIf="link.rel == 'accept'" class="btn btn-success" type="button" (click)="makeRequestToUrl(link.href)">Accept</button>
          <button *ngIf="link.rel == 'reject'" class="btn btn-danger" type="button" (click)="makeRequestToUrl(link.href)">Reject</button>
      </span>
    </td>
  </tr>
  </tbody>
</table>
