<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Build IT</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/phr" *ngIf="currentUser?.role === 'ROLE_SITE_ENGINEER'">Create PHR</a>
    <a class="p-2 text-dark" routerLink="/review-phr" *ngIf="currentUser?.role === 'ROLE_WORKS_ENGINEER'">Review PHR</a>
    <a class="p-2 text-dark" routerLink="/review-phr-site" *ngIf="currentUser?.role === 'ROLE_SITE_ENGINEER'">Review PHR</a>
    <a class="p-2 text-dark" routerLink="/review-po" *ngIf="currentUser?.role === 'ROLE_WORKS_ENGINEER' || currentUser?.role === 'ROLE_SITE_ENGINEER'">Review POs</a>
    <a class="p-2 text-dark" routerLink="/invoices" *ngIf="currentUser?.role === 'ROLE_SITE_ENGINEER'">Invoices</a>
  </nav>
  <a class="btn btn-outline-primary" (click)="logout()">Logout</a>
</div>
