<h2>Review Pending PHRs'</h2>
<h3 *ngIf="pendingPhrs.length <= 0 || pendingPlantsError===true " class="mt-5">No pending PHR</h3>
<table class="table mt-5" *ngIf="pendingPhrs.length > 0 &&   pendingPlantsError === false">
  <thead>
  <tr>
    <th scope="col">Plant Supplier</th>
    <th scope="col">Construction Site</th>
    <th scope="col">Rental Period</th>
    <th scope="col">Total Cost</th>
    <th scope="col">Status</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let phrs of pendingPhrs">
    <td>{{phrs.plantSupplierName}}</td>
    <td>{{phrs.constructionSiteName}}</td>
    <td>{{phrs.rentalPeriod.startDate}} - {{phrs.rentalPeriod.endDate}}</td>
    <td>{{phrs.totalPrice}}</td>
    <td>{{phrs.status}}</td>
    <td>
      <span *ngFor='let link of phrs.links' style="margin-left: 5px;">
          <button *ngIf="link.rel == 'accept'" class="btn btn-success" type="button"
                  (click)="makeRequestToUrl(link.href)">Accept</button>
          <button *ngIf="link.rel == 'reject'" class="btn btn-danger" type="button"
                  (click)="openModalWithPhr(phrs, reject, link.href, phrs._id)">Reject</button>
        <button *ngIf="phrs.status == 'PENDING_FOR_WORKS_ENGINEER_APPROVAL' && link.rel == 'modify'" type="button" class="btn btn-warning" (click)="openModalWithPhr(phrs, edit, link.href, phrs_id)">Edit</button>
      </span>

    </td>
  </tr>
  </tbody>
</table>

<ng-template #reject>
  <div class="modal-body text-center">
    <h4>Reject PHR</h4>
    <textarea class="form-control"
              name="message"
              rows="8"
              [(ngModel)]="comment"
    ></textarea>
    <button type="button" class="btn btn-block btn-primary mt-4" (click)="rejectPHR(); close()">Reject</button>
  </div>
</ng-template>


<ng-template #edit>
  <div class="modal-body text-center">

    <h4>Modify PHR</h4>

    <div class="form-group mt-5">
      <label for="selectedConstructionSiteName">Selected Construction Site</label><br>
      <input type="text" class="form-control" id="selectedConstructionSiteName"
             placeholder="{{selectedPhr?.constructionSiteName}}" readonly>
    </div>

    <div class="form-group">
      <label for="constructionSiteId">New Construction Site</label><br>
      <select [(ngModel)]="selectedConstructionSite" id="constructionSiteId" class="form-control">
        <option *ngFor="let constructionSite of constructionSites" [ngValue]="constructionSite">
          {{constructionSite.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="timePeriod">Selected Hire Period</label>
      <input type="text" class="form-control" id="timePeriod"
             placeholder="{{selectedPhr?.rentalPeriod?.startDate}} - {{selectedPhr?.rentalPeriod?.endDate}}" readonly>
    </div>

    <div class="form-group">
      <label for="hirePeriod">New Hire Period</label>
      <input type="text" placeholder="Select Renting Period" class="form-control" id="hirePeriod"
             [minDate]="minDate" [maxDate]="maxDate" [(ngModel)]="dateRange"
             bsDaterangepicker>
    </div>
    <p>Please write a comment for your edit</p>
    <textarea class="form-control"
              name="message"
              rows="8"
              [(ngModel)]="comment"
    ></textarea>
    <button type="button" class="btn btn-block btn-primary mt-4" (click)="modifyPhr(); close()">Modify PHR</button>
  </div>
</ng-template>
