<h2>Review Purchase Orders</h2>
<div class="form-group mt-5">
  <label for="suppliers">Please select supplier to see catalogue</label><br>
  <select [(ngModel)]="selectedCustomer" (change)="getCustomerOrders(selectedCustomer.customerIdentifier)" id="suppliers" class="form-control">
    <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.plantSupplierName}}</option>
  </select>
</div>
<h3 *ngIf="error!==null">No orders available</h3>
<table class="table mt-5" *ngIf="error===null && orders.length > 0">
  <thead>
  <tr>
    <th scope="col">Plant Name</th>
    <th scope="col">Rental Period</th>
    <th scope="col">Total Cost</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders">
    <td>{{order?.plantName}}</td>
    <td>{{order?.rentalPeriod?.startDate}} - {{order?.rentalPeriod?.endDate}}</td>
    <td>{{order?.totalPrice}}</td>
    <td>{{order?.status}}</td>
  </tr>
  </tbody>
</table>
