<h2 class="mb-4">Create PHR</h2>

<tabset [justified]="true">

  <tab heading="Step 1. Search for Plants" [active]="isFindPlantActive">
      <div class="form-group mt-5">
        <label for="suppliers">Please select supplier to see catalogue</label><br>
        <select [(ngModel)]="selectedSupplier" (change)="getSupplierCatalog(selectedSupplier.id)" id="suppliers" class="form-control">
          <option *ngFor="let supplier of suppliers" [ngValue]="supplier">
            {{supplier.name}}
          </option>
        </select>
      </div>

      <table class="table mt-5 mb-5" *ngIf="supplierCatalogue.length > 0">
        <thead>
        <tr>
          <th scope="col">Plant Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price Per Day</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor=" let i = index; let catalogueItem of supplierCatalogue">
          <td>{{catalogueItem.name}}</td>
          <td>{{catalogueItem.description}}</td>
          <td>{{catalogueItem.pricePerDay}}</td>
          <td>
            <button class="btn btn-primary" type="button" (click)="selectPlant(i)"> Select</button>
          </td>
        </tr>
        </tbody>
      </table>
  </tab>

  <tab heading="Step 2. Inspect Plants" [disabled]="isInspectPlantDisabled" [active]="isInspectActive">
    <h4 class="mt-5">1.Review Your Plant Selection</h4>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Plant Name</th>
        <th scope="col">Date</th>
        <th scope="col">Price Per Day</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{selectedPlant?.name}}</td>
        <td>{{selectedPlant?.description}}</td>
        <td>{{selectedPlant?.pricePerDay}}</td>
        <td>
          <button class="btn btn-warning" type="button" (click)="deleteSelectedItem()">Change selection</button>
        </td>
      </tr>
      </tbody>
    </table>

    <h4 class="mt-5">2. Search for availability of selected plant</h4>
    <hr>
    <div class="form-group">
      <label for="availableDates">Select Rental Date Range</label>
      <input type="text" placeholder="Select Renting Period" class="form-control" id="availableDates"
             [minDate]="minDate" [(ngModel)]="dateRange"
             bsDaterangepicker>
    </div>
    <button type="button" class="btn btn-primary" [disabled]="dateRange?.length <= 0" (click)="findAvailablePlants()">
      Find Available Plant Items
    </button>

    <h3 class="mt-5" *ngIf="availablePlantError !== null">No Available Plants Found For This Entry!</h3>
    <h4 class="mt-5" *ngIf="availablePlant!==null">3. Select Available Plant</h4>
    <table class="table" *ngIf="availablePlant!==null">
      <thead>
      <tr>
        <th scope="col">Plant Name</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Total Price</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{availablePlant?.entryName}}</td>
        <td>{{startDate}} - {{endDate}}</td>
        <td>{{availablePlant?.equipmentCondition}}</td>
        <td>{{availablePlant?.totalPrice}}</td>
        <td>
          <button class="btn btn-success" type="button" (click)="selectAvailableItem()">Select</button>
        </td>
      </tr>
      </tbody>
    </table>

  </tab>


  <tab heading="Step 3. Make Request" [disabled]="isMakeRequestDisabled" [active]="isMakeRequestActive">
      <div class="form-group mt-5">
        <label for="constructionSiteId">Select Construction Site</label><br>
        <select [(ngModel)]="selectedConstructionSite" id="constructionSiteId" class="form-control">
          <option *ngFor="let constructionSite of constructionSites" [ngValue]="constructionSite">
            {{constructionSite.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="plantSupplier">Supplier of the Plant</label>
        <input type="text" class="form-control" id="plantSupplier" placeholder="{{selectedSupplier?.name}}" readonly>
      </div>

      <div class="form-group">
        <label for="plantId">Plant Name</label>
        <input type="text" class="form-control" id="plantId" placeholder="{{availablePlant?.entryName}}" readonly>
      </div>

      <div class="form-group">
        <label for="hirePeriod">Hire Period</label>
        <input type="text" class="form-control" id="hirePeriod" placeholder="{{startDate}} - {{endDate}}" readonly>
      </div>

      <div class="form-group">
        <label for="costOfHiring">Cost of Hiring</label>
        <input type="text" class="form-control" id="costOfHiring" placeholder="{{availablePlant?.totalPrice}}" readonly>
      </div>

      <div class="form-group">
        <label for="siteEngineer">Name of the Site Engineer</label>
        <input type="text" class="form-control" id="siteEngineer" placeholder="Berker Demirer" readonly>
      </div>

      <button type="submit" class="btn btn-primary btn-block" [disabled]="selectedConstructionSite === undefined" (click)="createPhrRequestBody()">Create PHR</button>
  </tab>
</tabset>


<ng-template #template>
  <div class="modal-body text-center">
    <h4 *ngIf="phrSuccess" class="text-success">PHR Created Successfuly</h4>
    <h4 *ngIf="!phrSuccess" class="text-danger">PHR cannot be created due to error</h4>
    <button type="button" class="btn btn-default" (click)="redirectTo(router.url);confirm()">OK</button>
  </div>
</ng-template>
