<h2>Review PHRs'</h2>
<h3 *ngIf="pendingPhrs.length <= 0" class="mt-5">No PHR Available</h3>
<table class="table mt-5" *ngIf="pendingPhrs.length > 0">
  <thead>
  <tr>
    <th scope="col">Plant Supplier</th>
    <th scope="col">Construction Site</th>
    <th scope="col">Rental Period</th>
    <th scope="col">Total Cost</th>
    <th scope="col">Status</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let phrs of pendingPhrs">
    <td>{{phrs.plantSupplierName}}</td>
    <td>{{phrs.constructionSiteName}}</td>
    <td>{{phrs.rentalPeriod.startDate}} - {{phrs.rentalPeriod.endDate}}</td>
    <td>{{phrs.totalPrice}}</td>
    <td>{{phrs.status}}</td>
    <td>
        <span *ngFor='let link of phrs.links' style="margin-left: 5px;">
            <button *ngIf="phrs.status == 'BEING_REVIEWED' && link.rel == 'accept'" class="btn btn-success" type="button" (click)="makeRequestToUrl(link.href)">Accept</button>
            <button *ngIf="phrs.status == 'BEING_REVIEWED' && link.rel == 'reject'" class="btn btn-danger" type="button" (click)="makeRequestToUrl(link.href)">Reject</button>
            <button *ngIf="link.rel == 'cancel'" class="btn btn-warning" type="button" (click)="makeRequestToUrl(link.href)">Cancel</button>
            <button *ngIf="phrs.status == 'PENDING_FOR_WORKS_ENGINEER_APPROVAL' && link.rel == 'modify'" type="button" class="btn btn-warning" (click)="getPhrById(phrs._id); openModal(edit)">Edit</button>
            <button *ngIf="phrs.status == 'IN_USE' && link.rel == 'modify'" type="button" class="btn btn-warning" (click)="getPhrById(phrs._id); openModal(extent)">Extend</button>
        </span>
    </td>
  </tr>
  </tbody>
</table>


<ng-template #edit>
  <div class="modal-body text-center">

    <h4>Modify PHR</h4>

    <div class="form-group mt-5">
      <label for="selectedConstructionSiteName">Selected Construction Site</label><br>
      <input type="text" class="form-control" id="selectedConstructionSiteName"
             placeholder="{{phrDto.constructionSiteName}}" readonly>
    </div>

    <div class="form-group">
      <label for="constructionSiteId">New Construction Site</label><br>
      <select [(ngModel)]="selectedConstructionSite" id="constructionSiteId" class="form-control">
        <option *ngFor="let constructionSite of constructionSites" [ngValue]="constructionSite">
          {{constructionSite.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="timePeriod">Selected Hire Period</label>
      <input type="text" class="form-control" id="timePeriod"
             placeholder="{{phrDto?.rentalPeriod?.startDate}} - {{phrDto?.rentalPeriod?.endDate}}" readonly>
    </div>

    <div class="form-group">
      <label for="hirePeriod">New Hire Period</label>
      <input type="text" placeholder="Select Renting Period" class="form-control" id="hirePeriod"
             [minDate]="minDate" [maxDate]="maxDate" [(ngModel)]="dateRange"
             bsDaterangepicker>
    </div>
    <button type="button" class="btn btn-block btn-primary mt-4" (click)="modifyPhr(); close()">Modify PHR</button>
  </div>
</ng-template>

<ng-template #extent>
  <div class="modal-body text-center">

    <h4>Extend Order</h4>

    <div class="form-group">
      <label for="extendPeriod">Selected Hire Period</label>
      <input type="text" class="form-control" id="extendPeriod"
             placeholder="{{phrDto?.rentalPeriod?.startDate}} - {{phrDto?.rentalPeriod?.endDate}}" readonly>
    </div>

    <div class="form-group">
      <label for="hirePeriod">New Hire Period</label>
      <input type="text"
             placeholder="Extend Until"
             class="form-control"
             [minDate]="minExtDate"
             [(ngModel)]="extDate"
             bsDatepicker>
    </div>
    <button type="button" class="btn btn-block btn-primary mt-4" (click)="extendPhr(); close()">Extend PHR</button>
  </div>
</ng-template>

